.download-files-container{
    background-color: white;
    border-radius: 0.2rem;
    width: 20rem;
    margin-left:5rem;
}

.files-list{
    text-decoration: none;
    list-style-type: none;
}

.row-file{
 vertical-align: center;
}

p{
    padding-top: 1rem;
}