.map-container{
    background-color: white;
    border-radius: 0.2rem;
    padding:10%;
}

.map-wrapper{
    height:320px;
    overflow: hidden;
    position: relative;
    top:0;
    left: 0;
}

.city-names{
    padding-top: 10%;
}