.sidebar-container {
    height: 100%; 
    width: 8rem;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #1f1c2e;
    overflow-x: hidden;
    text-align: center;
  }

.sidenav a {
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
  }

.sidenav{
    padding-top: 5rem;
  }

.sidenav a:hover {
    background-color: #1c1a29;
}



.main-logo {
  padding : 1.5rem;
}