.container-left-bottom{
    display: inline-flex;
    margin-left:4rem;
    margin-bottom: 1rem;
}

.left-bottom-item{
    margin-left: 0.5rem;
}

.first-item-bottom-left{
    border-right: black solid 0.01rem;
    padding-right: 2rem;
}
