.icon-list {
  display: inline-flex;
  list-style-type: none;
}

.icon-item {
  background-color: #ccc;
  /* margin: 0.1rem; */
  margin-right: 0.5rem;
  border-radius: 0.1rem;
}

.icon-item:hover {
  background-color: cyan;
}

.search {
  position: relative;
  display: inline-block;
}

.search-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.search:hover .search-dropdown {
    display: block;
}
