.sidebar-container {
    height: 100%; 
    width: 10%;
    position: fixed; 
    z-index: 3; 
    top: 0; 
    left: 0;
    background-color: #1f1c2e; 
    overflow-x: hidden;
  }

  .sidenav a {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    text-align: center;

  }

  .sidenav{
    padding-top: 50px;
  }



.sidenav a:hover {
    background-color: #1c1a29;
}



.main-logo {
  padding-left: 35%;
  padding-top: 25%;
}