.desk-view {
  display: none;
}

.sidebar-container {
  display: none;
}

.hamburger-menu:hover .sidebar-container{
  display:block;
  top:0;
  right:0;
  position: absolute;
}



@media screen and (min-width: 768px) {
  .desk-view {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
  }
  .hr-nav{
    grid-area: 2/1/3/3;
  }
  .navtopleft{
    justify-self: left;
    align-self: center;
    grid-area: 1/1/2/2;
  }
  .navtopright{
    justify-self: right;
    grid-area: 1/2/2/3;
  }
  .navbottomright{
    justify-self: right;
  }
  .navbottomleft{
    justify-self: left;
  }
  .mobile-view {
    display: none;
  }
  .sidebar-container {
    display: block;
  }
}
